#headCity {
  color: #42a5f5;
  text-align: center;
  cursor: pointer;
}
.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px;
  margin-bottom: 0px;
}
.navbar {
  padding: 15px;
  margin: 20px;
  width: 400px;
}
h2 {
  color: gray;
  margin-left: 30px;
}
ul {
  list-style: none;
  color: gray;
}
#temperature {
  font-size: 60px;
  line-height: 1;
}

#location-search {
  margin-right: 7px;
}

#celcius,
#fahrenheit {
  position: relative;
  top: -32px;
  cursor: pointer;
}
#celcius:hover,
#fahrenheit:hover {
  color: blue;
}
.week {
  padding: 20px;
}
#emoji {
  font-size: 40px;
  margin-bottom: 30px;
}
.weather-app-wrap {
  max-width: 600px;
  margin: 30px auto;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #646363;
}
